attrs==19.3.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
heroku==0.1.4
idna==2.8
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
pyOpenSSL==19.1.0
pyTelegramBotAPI==3.6.6
python-dateutil==1.5
requests==2.22.0
service-identity==18.1.0
six==1.13.0
TelegramBotAPI==0.3.2
urllib3==1.26.5
virtualenv==16.7.9
